{% extends 'layout.html' %}

{% block content %}

    <table class="table" >
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Diameter</th>
            <th scope="col">Climate</th>
            <th scope="col">Terrain</th>
            <th scope="col">Surface Water Percentage</th>
            <th scope="col">Population</th>
            <th scope="col">Residents</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="mainTable">
{#here goes api data#}
        </tbody>
    </table>


{% endblock %}